streamlit
python-dotenv

langchain
langchain-core
langchain-community

langchain-openai
langchain-groq
langchain-google-genai
langchain-ollama

openai
groq
google-generativeai
ollama

tiktoken
pydantic
requests

chromadb
sentence-transformers

pysqlite3-binary

aiohttp
httpx
